.im-authorbox-container {
    height: auto;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.im-authorbox-content {
    border: 1px solid #e8e8e8;
}

.im-authorbox-img {
    margin-right: 18px;
}

.im-authorbox-img > img {
    width: 100px;
    height: 100px;
}